{% load static %}
<footer class="text-center pos-re">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="#">
<!--                    <img src="" alt="logo">-->
<!--                    <img src= "{% static 'img/logo-light.png' %}" alt="logo">-->
                     <img src= "{% static 'img/inaralogo.png' %}" alt="logo">
                </a>

                <div class="social">
                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                    <a href="#0"><i class="fab fa-pinterest-p"></i></a>
                </div>

<!--               <p><a target="_blank" href="https://templateshub.net">Templates Hub</a></p>-->
            </div>

            <div class="curve curve-top curve-center"></div>
        </footer>


