{% load static %}

{% block content %}

{% for home_blog in home %}
<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="{{ home_blog.image.url }}"  data-stellar-background-ratio="0.5">

    		<div class="container">
    			<div class="text-center caption mt-30">
                    <h4> {{ home_blog.first }}</h4>
                    <h1> {{ home_blog.second }} </h1>
                    <h2> {{home_blog.fourth}}</h2>
                    <div class="row">
                        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <p> {{ home_blog.third }} </p>
                        </div>
                    </div>
                    <a href="#0" class="butn butn-light mt-30">
                        <span>Get Started</span>
                    </a>
                </div>
    		</div>
    	</header>

    {% endfor %}
{% endblock %}