{% load static %}
<!DOCTYPE html>

 <html lang="zxx">



 {% include 'head.html' %}
    


    <body>

    	<!-- =====================================
    	==== Start Loading -->
        {% include 'loading.html' %}
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->
        {% include 'navbar.html' %}
    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->
        {% include 'header.html' %}


<!--        {% block content %}-->
<!--        {% endblock %}-->
    	<!-- End Header ====
    	======================================= -->



        <!-- =====================================
        ==== Start Hero -->
        {% include 'hero.html' %}

        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Process -->
        {% include 'process.html' %}
        <!-- End Process ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works -->
        {% include 'works.html' %}
        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Why-us -->
        {% include 'whyus.html' %}
        <!-- End Why-us ====
        ======================================= -->


        <!-- =====================================
        ==== Start Teams -->

        <!-- End Teams ====
        ======================================= -->



        <!-- =====================================
        ==== Start Testimonials -->
        {% include 'testimonials.html' %}
        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Price -->

        <!-- End Price ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->
<!--        {% include 'blog.html' %}-->
        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Call-Action -->
        {% include 'call-action.html' %}
        <!-- End Call-Action ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->
        {% include 'contact.html' %}
        <!-- End Contact ====
        ======================================= -->
<!--        {% include 'posts/create1.html' %}-->







        <!-- =====================================
        ==== Start Footer -->
        {% include 'footer.html' %}
        <!-- End Footer ====
        ======================================= -->




       
        <!-- jQuery -->
        {% include 'js.html' %}

    </body>
</html>