{% load static %}
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>

<!-- popper.min -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- scrollIt -->
<script src="{% static 'js/scrollIt.min.js' %}"></script>

<!-- jquery.waypoints.min -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- jquery.magnific-popup js -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!-- stellar js -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

<!-- isotope.pkgd.min js -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- YouTubePopUp.jquery -->
<script src="{% static 'js/YouTubePopUp.jquery.js' %}"></script>

<!-- validator js -->
<script src="{% static 'js/validator.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'js/scripts.js' %}"></script>

<script src="{% static 'js/animated.headline.js' %}"></script>

<script src="{% static 'js/particles.min.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>