<!--{% load static %}-->
<!--{% block content %}-->

<!--{% for team_blog in team%}-->
<!--<section class="team section-padding" data-scroll-index="3">-->
<!--            <div class="container">-->
<!--                <div class="row">-->

<!--                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">-->
<!--                        <h4><span>Talent</span> Team</h4>-->
<!--                        <p>I have a team of people working with me to maximize customer satisfaction and speed of work</p>-->
<!--                    </div>-->

<!--                    <div class="owl-carousel owl-theme">-->
<!--                        <div class="item">-->
<!--                            <div class="team-img">-->
<!--&lt;!&ndash;                                <img src="img/team/1.jpg" alt="">&ndash;&gt;-->
<!--                                 <img src= "{{ team_blog.team1.url }}" alt="">-->
<!--                                <div class="social">-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-facebook-f"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-behance"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h6>Alex</h6>-->
<!--                                <span>Project Manager</span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="team-img">-->
<!--&lt;!&ndash;                                <img src="img/team/2.jpg" alt="">&ndash;&gt;-->
<!--                                <img src= "{{ team_blog.team2.url }}" alt="">-->
<!--                                <div class="social">-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-facebook-f"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-behance"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h6>Kevin</h6>-->
<!--                                <span>Project Manager</span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="team-img">-->
<!--&lt;!&ndash;                                <img src="img/team/3.jpg" alt="">&ndash;&gt;-->
<!--                                <img src= "{{ team_blog.team3.url }}" alt="">-->
<!--                                <div class="social">-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-facebook-f"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-behance"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h6>Cara</h6>-->
<!--                                <span>Project Manager</span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="team-img">-->
<!--&lt;!&ndash;                                <img src="img/team/4.jpg" alt="">&ndash;&gt;-->
<!--                                <img src= "{{ team_blog.team1.url }}" alt="">-->
<!--                                <div class="social">-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-facebook-f"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-behance"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h6>Alex Smith</h6>-->
<!--                                <span>Project Manager</span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="team-img">-->
<!--&lt;!&ndash;                                <img src="img/team/3.jpg" alt="">&ndash;&gt;-->
<!--                                <img src= "{{ team_blog.team3.url }}" alt="">-->
<!--                                <div class="social">-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-facebook-f"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-twitter"></i>-->
<!--                                    </a>-->
<!--                                    <a href="#0" class="icon">-->
<!--                                        <i class="fab fa-behance"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <h6>Cara</h6>-->
<!--                                <span>Project Manager</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--     {% endfor %}-->
<!--{% endblock %}-->