<!-- {% load static %}-->
<!-- {% block content %}-->


<!-- {% for testi_blog in testi %}-->
<!--<section class="testimonials section-padding bg-img bg-fixed pos-re" data-overlay-dark="7" data-background="{{ testi_blog.bgimage.url }}">-->
<!--&lt;!&ndash;    <img src= "" alt="">&ndash;&gt;-->
<!--            <div class="container">-->
<!--                <div class="row">-->

<!--                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">-->
<!--                        <h4>{{ testi_blog.heading }}</h4>-->
<!--                        <p>{{ testi_blog.details }}</p>-->
<!--                    </div>-->

<!--                    <div class="owl-carousel owl-theme text-center col-lg-10 offset-lg-1">-->
<!--                        <div class="item-box">-->
<!--                            <span class="quote">-->
<!--&lt;!&ndash;                                <img src="img/quot.png" alt="">&ndash;&gt;-->
<!--                                <img src= "{% static 'img/quot.png' %}" alt="">-->
<!--                            </span>-->
<!--                            <p>{{ testi_blog.review1 }}</p>-->
<!--                            <div class="info">-->
<!--                                <div class="author-img">-->
<!--&lt;!&ndash;                                    <img src="" alt="">&ndash;&gt;-->
<!--                                      <img src= "{{ testi_blog.client1.url }}" alt="">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <h6>Alex Smith</h6>-->
<!--                                    <span>Envato Customer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-box">-->
<!--                            <span class="quote">-->
<!--&lt;!&ndash;                                <img src="img/quot.png" alt="">&ndash;&gt;-->
<!--                                  <img src= "{% static 'img/quot.png' %}" alt="">-->
<!--                            </span>-->
<!--                            <p>{{ testi_blog.review2 }}</p>-->
<!--                            <div class="info">-->
<!--                                <div class="author-img">-->
<!--&lt;!&ndash;                                    <img src="img/clients/2.jpg" alt="">&ndash;&gt;-->
<!--                                      <img src= "{{ testi_blog.client2.url }}" alt="">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <h6>Alex Smith</h6>-->
<!--                                    <span>Envato Customer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-box">-->
<!--                            <span class="quote">-->
<!--&lt;!&ndash;                                <img src="img/quot.png" alt="">&ndash;&gt;-->
<!--                                  <img src= "{% static 'img/quot.png' %}" alt="">-->
<!--                            </span>-->
<!--                            <p>{{ testi_blog.review3 }}</p>-->
<!--                            <div class="info">-->
<!--                                <div class="author-img">-->
<!--&lt;!&ndash;                                    <img src="img/clients/3.jpg" alt="">&ndash;&gt;-->
<!--                                      <img src= "{{ testi_blog.client3.url }}" alt="">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <h6>Alex Smith</h6>-->
<!--                                    <span>Envato Customer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-box">-->
<!--                            <span class="quote">-->
<!--&lt;!&ndash;                                <img src="img/quot.png" alt="">&ndash;&gt;-->
<!--                                  <img src= "{% static 'img/quot.png' %}" alt="">-->
<!--                            </span>-->
<!--                            <p>{{ testi_blog.review4 }}</p>-->
<!--                            <div class="info">-->
<!--                                <div class="author-img">-->
<!--&lt;!&ndash;                                    <img src="img/clients/4.jpg" alt="">&ndash;&gt;-->
<!--                                      <img src= "{{ testi_blog.client1.url }}" alt="">-->
<!--                                </div>-->
<!--                                <div class="cont">-->
<!--                                    <h6>Alex Smith</h6>-->
<!--                                    <span>Envato Customer</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->

<!--            <div class="curve curve-top"></div>-->
<!--        </section>-->

<!--    {% endfor %}-->
<!--{% endblock %}-->